.exchange_box {
  .card {
    border-radius: 8px;
    overflow: hidden;

    .card-header {
      background-color: #5bc0de;
      color: white;
      font-weight: 700;
    }

    .card-block {
      padding-top: 10px;
      padding: 20px;

      .title {
        color: #878d99;
        font-weight: 700;
      }

      .btn-convert {
        background-color: #5bc0de;
        border: 0;
        transition: background-color 0.2s;

        &:hover {
          opacity: 0.8;

        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .card-header {
    font-size: 25px;
  }

  .title {
    margin-top: 30px;
    font-size: 20px;
  }

  .form-group {
    select {
      font-size: 20px;
      height: 50px !important;
    }

    input {
      font-size: 20px;
      height: 50px;
    }
  }

  #result {
    margin-bottom: 20px;
  }

  .btn-exchange {
    font-size: 20px;
  }
}
